node_modules
.next
out
coverage
.env
.env.*
!.env.example
*.log
.git
.gitignore
docs
**/*.spec.ts
**/*.spec.tsx
**/__tests__
.vscode
.idea
Dockerfile
.dockerignore
README.md
*.md
*.png
after-gen_*
before-gen_*
before-test2.png
